.gallery-list
{
	width: 32%;
	display: inline-block;
	vertical-align: top;
	padding: 0 0 1em 0;
}
	.gallery-list__item-inner
	{
		width: 90%;
		float: left;
	}
		.gallery-list__item-link
		{
			display: inline-block;
			text-decoration: none;
		}
			.gallery-list__item-image
			{
				display: inline-block;
				position: relative;
				-webkit-box-shadow: #bbb 0px 1px 3px;
				-moz-box-shadow: #bbb 0px 1px 3px;
				box-shadow: #bbb 0px 1px 3px;
			}
				.gallery-list__item-image:before
				{
					background-color: #FFFFFF;
					-webkit-box-shadow: #ccc 0px 1px 3px;
					-moz-box-shadow: #ccc 0px 1px 3px;
					box-shadow: #ccc 0px 1px 3px;
					content: "";
					height: 100%;
					margin-top: 4px;
					position: absolute;
					width: 100%;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
					top: 0;
					left: 0;
				}
				.gallery-list__item-image:after
				{
					background-color: #FFFFFF;
					-webkit-box-shadow: #ccc 0px 1px 0px;
					-moz-box-shadow: #ccc 0px 1px 0px;
					box-shadow: #ccc 0px 1px 0px;
					content: "";
					height: 100%;
					margin-top: 2px;
					position: absolute;
					width: 100%;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
					display: block;
					top: 0;
					left: 0;
				}
					.gallery-list__item-image-image
					{
						vertical-align: bottom;
						border: 3px solid #FFF;
						-webkit-box-shadow: #ccc 0px 1px 0px;
						-moz-box-shadow: #ccc 0px 1px 0px;
						box-shadow: #ccc 0px 1px 0px;
						position: relative;
						z-index: 1;
					}
			.gallery-list__item-link-text
			{
				width: 90%;
				color: #008ACE;
				font: 0.85em Arial;
				display: block;
				padding: 1em 0 0.3em 0;
				text-decoration: underline;
			}
			.gallery-list__item-link:hover .gallery-list__item-link-text
			{
				color: #CC0000;
			}
			.gallery-list__item-link:hover .gallery-list__item-link-text
			{
				color: #CC0000;
			}
			.gallery-list__item-link:visited .gallery-list__item-link-text
			{
				color: #551A8B
			}
			.gallery-list__item-link:visited:hover .gallery-list__item-link-text 
			{
				color: #CC0000;
			}

		.gallery-list__item-desc
		{
			display: block;
			font: 0.85em Arial;
			color: #444;
			padding: 0.2em 0 0 0;
			line-height: 1.4em;
		}
		.gallery-list__item-count
		{
			display: block;
			font: 0.75em Arial;
			color: #777;
			padding: 0.5em 0 0 0;
		}