<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="${request.locale_name}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Pyramid Sacrud Gallery</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="{{ request.static_url('pyramid_sacrud_gallery:static/css/__gallery.css') }}" rel="stylesheet" />
    <script src="{{ request.static_url('pyramid_sacrud_gallery:static/js/__gallery.js') }}"></script>
</head>

<body>
    {% block content %}
    {% endblock content %}
</body>
</html>
