<!DOCTYPE html>
<html lang="${request.locale_name}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ gallery.name }} :: {{ image.path }}</title>

  </head>

  <body>

    <h1>Redefine me in "pyramid_sacrud_gallery/image.jinja2"</h1>

    <p>Breadcrumbs:</p>
    <ul>
      <li>
        <a href="{{ request.route_url('sacrud_gallery_list') }}">
          List of galleries
        </a>
      </li>
      <li> >> </li>
      <li>
        <a href="{{ request.route_url('sacrud_gallery_view', pk=gallery.get_val_pk()) }}">
          {{ gallery.name }}
        </a>
      </li>
      <li> >> </li>
      <li>{{ image.path }}</li>
    </ul>

    <h2>Image from gallery "{{ gallery.name }}":</h2>
    <img src="{{ image.path }}" alt="{{ image.description }}">
  </body>
</html>
